@page "/orders"

@using MediatR
@using Prosthetics.Components.Enums
@using Prosthetics.Components.Layout
@using Prosthetics.Components.Models.Grid
@using Prosthetics.Features
@using Prosthetics.Features.Orders
@using Prosthetics.Persistance
@using Prosthetics.Persistance.Entities

@inject NavigationManager _navManager
@inject IMediator _mediator;
@inject IStore _store;

<h3>Zlecenia dla lekarza: @_store.Order.DoctorFullName</h3>

<GridComponent TData="OrderDto" ColumnsDefinition="@_columns" Data="@_orders" OnRowClickEvent="@(e => OnOrderClick(e))"></GridComponent>
<br />
<ButtonComponent Text="Dodaj zlecenie" Type="TypeOfButton.PRIMARY" Style="StyleOfButton.CIRCLE" OnButtonClick="OnAddButtonClicked"></ButtonComponent>

<DialogComponent TComponent="Comment" Title="Szczegóły zamówienia" Show="_showOrderComment" OnCloseEvent="@OnCloseDialog" ViewParameters="_viewParameters"></DialogComponent>

@code {
    [Parameter]
    public string DoctorId { get; set; }

    private Dictionary<string, object> _viewParameters;
    private IEnumerable<OrderDto>? _orders;
    private ColumnInfo<OrderDto>[] _columns = new ColumnInfo<OrderDto>[]
    {   
        new ColumnInfo<OrderDto> { Title = "Pacjent", Property = "PatientFullName" },
        new ColumnInfo<OrderDto> { Title = "Typ zamówienia", Property = "Type" },
        new ColumnInfo<OrderDto> { Title = "Ilość dodatków", Property = "AdditionalWorksCount" },
        new ColumnInfo<OrderDto> { Title = "Dodatki", Property = "AdditionalWorks", Hide = true },
        new ColumnInfo<OrderDto> { Title = "Komentarz", Property = "ShortComment" },
        new ColumnInfo<OrderDto> { Title = "Data zlecenia", Property = "OrderDate" },
        new ColumnInfo<OrderDto> { Title = "Data końcowa", Property = "DeadLine" },
        new ColumnInfo<OrderDto> { Title = "Status", Property = "Status" }
    };
    private bool _showOrderComment = false;

    protected override async Task OnInitializedAsync()
    {
        // TODO Wywołuje się za każdym razem po wejściu na stronę
        // Inny lifehook
        var result = await _mediator.Send(new GetOrdersQuery() { DoctorId = _store.Order.DoctorId });
        _orders = TransformData(result.ToList());
    }

    private void OnOrderClick(OrderDto order)
    {
        _viewParameters = new Dictionary<string, object>()
        { 
            { nameof(order.AdditionalWorks), order.AdditionalWorks.Select(_ => _.Name) },
            { nameof(order.Comments), order.Comments }
        };
        _store.Order.OrderId = order.Id;
        _showOrderComment = true;
    }

    private void OnCloseDialog(bool show) 
    {
        _showOrderComment = show;
        _navManager.NavigateTo("/orders", true);
    }

    private void OnAddButtonClicked() => _navManager.NavigateTo("/add-patient");

    private IEnumerable<OrderDto> TransformData(List<OrderDto> list)
    {
        list.ForEach(_ =>
        {
            _.AdditionalWorksCount = _.AdditionalWorks.Count();
            if (_.Comments?.Length > 10)
                _.ShortComment = _.Comments.Substring(0, 10);
        });

        return list;
    }

    private string GetStatus(int status)
    {
        switch (status)
        {
            case 1:
                return "nowe";
            case 2:
                return "w przygotowaniu";
            case 3:
                return "wycofane";
            default:
                return "nowe";
        }
    }
}
